@use "resets";
@use "fonts";

/* Global */
*,
*::before,
*::after {
    font-family: "Poppins", sans-serif;
}

body {
    min-width: 20rem;
    background-color: white;
    color: #000000aa;
}

h1 {
    line-height: 1.25;
    font-weight: 600;
    color: #0e0711;
}